definitions:
  browse.browseItem:
    properties:
      favorite:
        description: Favorite this item is a favorite
        type: boolean
      id:
        description: ID of the item
        type: integer
      name:
        description: Name of the item
        type: string
      page_count:
        description: PageCount the number of pages.
        type: integer
      read:
        description: Read this item has been read before.
        type: boolean
      tag_favorite:
        description: TagFavorite this item contains favorite tags
        type: boolean
    type: object
  browse.browseRequest:
    properties:
      favorite_only:
        type: boolean
      item_per_page:
        default: 30
        type: integer
      order:
        $ref: '#/definitions/meta.SortOrder'
      page:
        type: integer
      search:
        type: string
      sort:
        $ref: '#/definitions/meta.SortField'
      tag:
        type: string
      user:
        type: string
    type: object
  browse.browseResponse:
    properties:
      items:
        items:
          $ref: '#/definitions/browse.browseItem'
        type: array
      request:
        $ref: '#/definitions/browse.browseRequest'
      tag_favorite:
        type: boolean
      total_page:
        type: integer
    type: object
  browse.historyItem:
    properties:
      access_time:
        description: AccessTime the time the item is accessed.
        type: string
      favorite:
        description: Favorite this item is a favorite
        type: boolean
      id:
        description: ID of the item
        type: integer
      name:
        description: Name of the item
        type: string
      page_count:
        description: PageCount the number of pages.
        type: integer
      read:
        description: Read this item has been read before.
        type: boolean
      tag_favorite:
        description: TagFavorite this item contains favorite tags
        type: boolean
    type: object
  browse.historyRequest:
    properties:
      item_per_page:
        default: 30
        type: integer
      page:
        type: integer
      user:
        type: string
    type: object
  browse.historyResponse:
    properties:
      items:
        items:
          $ref: '#/definitions/browse.historyItem'
        type: array
      request:
        $ref: '#/definitions/browse.historyRequest'
      total_page:
        type: integer
    type: object
  browse.recreateThumbnailsResponse:
    properties:
      result:
        type: boolean
    type: object
  browse.rescanLibraryResponse:
    properties:
      result:
        type: boolean
    type: object
  ent.History:
    properties:
      create_time:
        description: CreateTime holds the value of the "create_time" field.
        type: string
      edges:
        allOf:
        - $ref: '#/definitions/ent.HistoryEdges'
        description: |-
          Edges holds the relations/edges for other nodes in the graph.
          The values are being populated by the HistoryQuery when eager-loading is set.
      id:
        description: ID of the ent.
        type: integer
    type: object
  ent.HistoryEdges:
    properties:
      item:
        allOf:
        - $ref: '#/definitions/ent.Meta'
        description: Item holds the value of the item edge.
      user:
        allOf:
        - $ref: '#/definitions/ent.User'
        description: User holds the value of the user edge.
    type: object
  ent.Meta:
    properties:
      active:
        description: Active holds the value of the "active" field.
        type: boolean
      container_type:
        allOf:
        - $ref: '#/definitions/meta.ContainerType'
        description: ContainerType holds the value of the "container_type" field.
      create_time:
        description: CreateTime holds the value of the "create_time" field.
        type: string
      edges:
        allOf:
        - $ref: '#/definitions/ent.MetaEdges'
        description: |-
          Edges holds the relations/edges for other nodes in the graph.
          The values are being populated by the MetaQuery when eager-loading is set.
      favorite:
        description: Favorite holds the value of the "favorite" field.
        type: boolean
      file_indices:
        description: FileIndices holds the value of the "file_indices" field.
        items:
          type: integer
        type: array
      id:
        description: ID of the ent.
        type: integer
      name:
        description: Name holds the value of the "name" field.
        type: string
      read:
        description: Read holds the value of the "read" field.
        type: boolean
      thumbnail_height:
        description: ThumbnailHeight holds the value of the "thumbnail_height" field.
        type: integer
      thumbnail_index:
        description: ThumbnailIndex holds the value of the "thumbnail_index" field.
        type: integer
      thumbnail_width:
        description: ThumbnailWidth holds the value of the "thumbnail_width" field.
        type: integer
      thumbnail_x:
        description: ThumbnailX holds the value of the "thumbnail_x" field.
        type: integer
      thumbnmail_y:
        description: ThumbnmailY holds the value of the "thumbnmail_y" field.
        type: integer
    type: object
  ent.MetaEdges:
    properties:
      histories:
        description: Histories holds the value of the histories edge.
        items:
          $ref: '#/definitions/ent.History'
        type: array
      tags:
        description: Tags holds the value of the tags edge.
        items:
          $ref: '#/definitions/ent.Tag'
        type: array
      user:
        description: User holds the value of the user edge.
        items:
          $ref: '#/definitions/ent.User'
        type: array
    type: object
  ent.Tag:
    properties:
      edges:
        allOf:
        - $ref: '#/definitions/ent.TagEdges'
        description: |-
          Edges holds the relations/edges for other nodes in the graph.
          The values are being populated by the TagQuery when eager-loading is set.
      favorite:
        description: Favorite holds the value of the "favorite" field.
        type: boolean
      hidden:
        description: Hidden holds the value of the "hidden" field.
        type: boolean
      id:
        description: ID of the ent.
        type: integer
      name:
        description: Name holds the value of the "name" field.
        type: string
    type: object
  ent.TagEdges:
    properties:
      meta:
        description: Meta holds the value of the meta edge.
        items:
          $ref: '#/definitions/ent.Meta'
        type: array
      user:
        description: User holds the value of the user edge.
        items:
          $ref: '#/definitions/ent.User'
        type: array
    type: object
  ent.User:
    properties:
      active:
        description: Active holds the value of the "active" field.
        type: boolean
      edges:
        allOf:
        - $ref: '#/definitions/ent.UserEdges'
        description: |-
          Edges holds the relations/edges for other nodes in the graph.
          The values are being populated by the UserQuery when eager-loading is set.
      email:
        description: Email holds the value of the "email" field.
        type: string
      id:
        description: ID of the ent.
        type: integer
    type: object
  ent.UserEdges:
    properties:
      favorite_items:
        description: FavoriteItems holds the value of the favorite_items edge.
        items:
          $ref: '#/definitions/ent.Meta'
        type: array
      favorite_tags:
        description: FavoriteTags holds the value of the favorite_tags edge.
        items:
          $ref: '#/definitions/ent.Tag'
        type: array
      histories:
        description: Histories holds the value of the histories edge.
        items:
          $ref: '#/definitions/ent.History'
        type: array
    type: object
  errors.Error:
    properties:
      cause: {}
      code:
        example: 0
        type: integer
      message:
        example: unknown error.
        type: string
    type: object
  maintenance.UpdateLibraryResponse:
    properties:
      result:
        type: boolean
    type: object
  meta.ContainerType:
    enum:
    - zip
    - zip
    - directory
    type: string
    x-enum-varnames:
    - DefaultContainerType
    - ContainerTypeZip
    - ContainerTypeDirectory
  meta.CropDetails:
    properties:
      height:
        type: integer
      width:
        type: integer
      x:
        type: integer
      "y":
        type: integer
    type: object
  meta.SortField:
    enum:
    - name
    - createTime
    - pageCount
    type: string
    x-enum-varnames:
    - SortFieldName
    - SortFieldCreateTime
    - SortFieldPageCount
  meta.SortOrder:
    enum:
    - ascending
    - descending
    type: string
    x-enum-varnames:
    - SortOrderAscending
    - SortOrderDescending
  tag.Tag:
    properties:
      favorite:
        type: boolean
      item_count:
        type: integer
      name:
        type: string
    type: object
  tag.listRequest:
    properties:
      favorite_only:
        type: boolean
      item_per_page:
        default: 30
        type: integer
      page:
        type: integer
      search:
        type: string
      user:
        type: string
    type: object
  tag.listResponse:
    properties:
      request:
        $ref: '#/definitions/tag.listRequest'
      tags:
        items:
          $ref: '#/definitions/tag.Tag'
        type: array
      total_page:
        type: integer
    type: object
  tag.setFavoriteRequest:
    properties:
      favorite:
        type: boolean
      tag:
        type: string
      user:
        type: string
    type: object
  tag.setFavoriteResponse:
    properties:
      favorite:
        type: boolean
      request:
        $ref: '#/definitions/tag.setFavoriteRequest'
    type: object
  view.fixMetaRequest:
    properties:
      name:
        type: string
    type: object
  view.fixMetaResponse:
    properties:
      request:
        $ref: '#/definitions/view.fixMetaRequest'
      success:
        type: boolean
    type: object
  view.populateTagsRequest:
    properties:
      name:
        type: string
    type: object
  view.populateTagsResponse:
    properties:
      favorite:
        type: boolean
      indices:
        items:
          type: integer
        type: array
      name:
        type: string
      request:
        $ref: '#/definitions/view.populateTagsRequest'
      tags:
        items:
          $ref: '#/definitions/ent.Tag'
        type: array
      version:
        type: string
    type: object
  view.setFavoriteRequest:
    properties:
      favorite:
        type: boolean
      name:
        type: string
      user:
        type: string
    type: object
  view.setFavoriteResponse:
    properties:
      favorite:
        type: boolean
      request:
        $ref: '#/definitions/view.setFavoriteRequest'
    type: object
  view.updateCoverRequest:
    properties:
      crop_details:
        $ref: '#/definitions/meta.CropDetails'
      index:
        type: integer
      name:
        type: string
    type: object
  view.updateCoverResponse:
    properties:
      request:
        $ref: '#/definitions/view.updateCoverRequest'
      success:
        type: boolean
    type: object
  view.viewRequest:
    properties:
      name:
        type: string
      user:
        type: string
    type: object
  view.viewResponse:
    properties:
      favorite:
        type: boolean
      name:
        type: string
      page_count:
        type: integer
      request:
        $ref: '#/definitions/view.viewRequest'
      tags:
        items:
          $ref: '#/definitions/ent.Tag'
        type: array
      version:
        type: string
    type: object
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
info:
  contact: {}
  description: API Server for Mangaweb
  title: Mangaweb3 API
  version: "3.0"
paths:
  /browse:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        schema:
          $ref: '#/definitions/browse.browseRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/browse.browseResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /browse/recreate_thumbnails:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/browse.recreateThumbnailsResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /browse/rescan_library:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/browse.rescanLibraryResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /browse/thumbnail:
    get:
      parameters:
      - description: name of the item
        in: query
        name: name
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: body
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /history:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        schema:
          $ref: '#/definitions/browse.historyRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/browse.historyResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /maintenance/update_library:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/maintenance.UpdateLibraryResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /tag/list:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/tag.listRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/tag.listResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /tag/recreate_thumbnails:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/browse.recreateThumbnailsResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /tag/set_favorite:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/tag.setFavoriteRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/tag.setFavoriteResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /tag/thumbnail:
    get:
      parameters:
      - description: tag
        in: query
        name: tag
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: body
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/view.viewRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/view.viewResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view/download:
    get:
      parameters:
      - description: name of the file
        in: query
        name: name
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: body
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view/fix_meta:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/view.fixMetaRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/view.fixMetaResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view/get_image:
    get:
      parameters:
      - description: name of the item
        in: query
        name: name
        required: true
        type: string
      - description: width
        in: query
        name: width
        type: integer
      - description: height
        in: query
        name: height
        type: integer
      - description: index
        in: query
        name: i
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: body
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view/populate_tags:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/view.populateTagsRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/view.populateTagsResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view/set_favorite:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/view.setFavoriteRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/view.setFavoriteResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
  /view/update_cover:
    post:
      consumes:
      - application/json
      parameters:
      - description: request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/view.updateCoverRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/view.updateCoverResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.Error'
swagger: "2.0"
